@charset "UTF-8";
::-webkit-input-placeholder {
	color: #80c3e4;
}
::-moz-placeholder {
	color: #80c3e4;
}
:-ms-input-placeholder {
	color: #80c3e4;
}
input[type="radio"] {
	background-color: transparent;
	border: 0 none;
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	position: absolute;
}
input {
	letter-spacing: -1px;
}
#header {
	height: 90px;
}
#header h1 {
	padding-bottom: 0;
}
.trip-price {
	color: #999999;
	font-size: 14px;
	text-align: right;
}
.trip-price > div {
	position: relative;
}
.trip-price .blue {
	color: #0086c9;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
}
.faq-list li .question:after {
	display: none;
}
.faq-list li.active .question:after {
	display: none;
}
.air-info-box {
	display: none;
	z-index: -1;
}
.air-info-box.active {
	background-color: #ffffff;
	border: 1px solid #0086c9;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	color: #0086c9;
	display: block;
	left: 0;
	margin-left: 0 !important;
	padding: 5px 10px;
	position: absolute;
	text-align: left;
	top: 50px;
	z-index: 99;
	white-space: nowrap;
}
.price-info-box {
	background-color: #ffffff;
	border: 1px solid #0086c9;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-sizing: border-box;
	color: #0086c9;
	display: none;
	margin-top:15px;
	padding: 20px;
	position: absolute;
	right: 0;
	text-align: left;
	top: 50%;
	transform: translateX(10%);
	transition: 0.2s;
	width: 300px;
	z-index: -1;
}
.price-info-box.active {
	transform: translateX(0);
	transition: 0.2s;
	z-index: 99;
}
.price-info-box.last {
	bottom: 0;
	margin-bottom: 60px;
	margin-top: 0;
	top: auto;
}
.result-wrap .price-info-box {
	background-color: #ffffff;
	border: 1px solid #0086c9;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-sizing: border-box;
	color: #0086c9;
	display: none;
	margin-top: 0;
	padding: 20px;
	position: absolute;
	right: 0;
	text-align: left;
	top: auto;
	transform: translateX(10%);
	transition: 0.2s;
	width: 300px;
	z-index: -1;
}
.result-wrap .price-info-box.active {
	transform: translateX(0);
	transition: 0.2s;
	z-index: 99;
}
.result-wrap .price-info-box.last {
	margin-bottom: 40px;
}
.total-price-info {
	border: none;
	padding: 0;
}
.total-price-info dl + dl {
	border: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}
.total-price-info dt {
	font-size: 16px;
}
.total-price-info dd {
	font-size: 14px;
}
.total-price-sum {
	border-top: 1px solid #dddddd;
	box-sizing: border-box;
	margin-top: 10px;
	padding: 0;
	padding-top: 10px;
}
.lookup-wrap {
	margin: 0 auto;
	position: relative;
	width: 1200px;
}
.lookup-wrap .lookup-area {
	margin-top: 50px;
}
.route-choice {
}
.route-choice + .lookup-result {
	border-top: 1px solid #dddddd;
	padding: 20px 0;
}
.route-choice p.route-tit {
	color: #333333;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 10px;
}
.route-choice .route-list {
	padding-bottom: 20px;
}
.route-choice .route-list a.btn-refresh1 {
	right: 0;
	top: 45px;
}
.route-choice .route-list ul {
}
.route-choice .route-list ul li {
}
.route-choice .route-list ul li:after {
	clear: both;
	content: '';
	display: block;
}
.route-choice .route-list ul li + li {
	padding-top: 10px;
}
.route-choice .route-list ul li span {
	color: #999999;
	float: left;
	font-size: 16px;
}
.route-choice .route-list ul li > span + span {
	padding-left: 30px;
	position: relative;
}
.route-choice .route-list ul li > span + span:before {
	background-color: #dddddd;
	content: '';
	display: block;
	height: 15px;
	left: 14px;
	position: absolute;
	top: 6px;
	width: 1px;
}
.route-choice .route-list ul li span.date {
	color: #333333;
}
.route-choice .route-list ul li span.air-name {
	color: #333333;
}
.route-choice .route-list ul li span.duration {
	color: #333333;
}
.route-choice .route-list ul li span.duration sup {
	color: #0086c9;
	font-size: 13px;
	padding-left: 4px;
	top: -0.2em;
}
.route-choice .route-list ul li span.trip .from {
}
.route-choice .route-list ul li span.trip .to {
	padding-left: 10px;
	position: relative;
}
.route-choice .route-list ul li span.trip .to:before {
	content: '-';
	display: block;
	left: 2px;
	position: absolute;
	top: 0;
}
.route-choice .route-list ul li span.transfer {
	display: block;
	max-width: 520px;
}
.lookup-result {
	padding-bottom: 10px;
	overflow:hidden;
}
.lookup-result span {
	color: #333333;
	font-size: 26px;
	font-weight: 500;
}
.lookup-result span.date {
	color: #0086c9;
}
.lookup-result span.trip {
	padding-right: 30px;
	position: relative;
}
.lookup-result span.trip:after {
	background-color: #dddddd;
	content: '';
	display: block;
	height: 20px;
	position: absolute;
	right: 17px;
	top: 5px;
	width: 1px;
}
.lookup-result span.trip .from {
}
.lookup-result span.air-part {
}
.tab-list {
	padding-bottom: 10px;
}
.filter-wrap {
	position: relative;
}
.filter-wrap .filter-head {
	padding-bottom: 10px;
}
.filter-wrap .filter-head span {
}
.filter-wrap .filter-head span.result-total {
}
.filter-wrap .filter-head span.result-total span {
	color: #333333;
	font-size: 16px;
	font-weight: 500;
}
.filter-wrap .filter-head span.result-total span.num {
	color: #0086c9;
}
.filter-wrap .filter-head a.btn-refresh2 {
	right: 0;
	top: 0;
}
.filter-wrap .filter-body {
	border-top: 1px solid #dddddd;
	padding-top: 20px;
}
.filter-wrap .filter-body {
}
.filter-wrap .filter-body dt {
	color: #333333;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 10px;
}
.filter-wrap .filter-body dd {
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}
.filter-wrap .filter-body dd + dt {
	padding-top: 15px;
}
.filter-wrap .filter-body dd .insert {
	position: relative;
}
.filter-wrap .filter-body dd .insert + .insert {
	margin-top: 7px;
}
.filter-wrap .filter-body dd a.only-this {
	display: none;
}
.filter-wrap .filter-body dd a.only-this.active {
	color: #2b9af3;
	display: block;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 3px;

	transition: all 0.2s;
}
.filter-wrap .filter-body dd a:hover.only-this.active {
	color: #3cf;
}
.filter-wrap .filter-not {
}
.filter-wrap .filter-not dd .insert {
	background-color: #ffffff;
	display: block;
	height: 16px;
}
.filter-wrap .filter-not dd .insert span {
	display: none;
}
.filter-wrap .filter-not dd .insert a {
	display: none;
}
.filter-wrap .filter-not dd .insert + .insert {
	margin-top: 12px;
	padding: 0;
}
#container .section03 .content {
	box-sizing: border-box;
	float: left;
	padding-left: 30px;
	position: relative;
	width: 1000px;
}
.alert-info {
	color: #666666;
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	margin-top: 5px;
	padding-left: 10px;
	position: absolute;
	right: 0;
	text-align: right;
}
.alert-info:before {
	background: url('../images/common/ico_caution1.png') 0 0 no-repeat;
	background: url('../images/common/ico_caution1.svg') 0 0 no-repeat, linear-gradient(transparent, transparent);
	background-size: 3px 12px;
	content: '';
	display: block;
	height: 12px;
	left: 0;
	position: absolute;
	top: 0;
	width: 3px;
}
.list-head {
	box-sizing: border-box;
	padding: 25px 30px;
	cursor: pointer;
}
.list-head .flight-name {
	width: 28%;
	position: relative;
}
.list-head .trip-price {
	padding-left: 30px;
}
.list-head span {
}
.list-head span.air-logo {
	position: absolute;
}
.list-head span.air-info {
	display: block;
	padding-left: 35px;
}
.list-head span.air-info .air-name {
	color: #666666;
	font-size: 15px;
	font-weight: 400;
}
.list-head span.air-info .air-num {
	color: #666666;
	display: block;
	font-size: 10px;
}
.flight-time {
  width: 40%;
}
.flight-time .time-box {
	display: inline-block;
	position: relative;
}
.flight-time .time-box span {
	color: #666666;
	font-weight: 400;
	text-align: center;
}
.flight-time .time-box.depart {
}
.flight-time .time-box.arrive {
}
.flight-time .time-box span.code {
	display: block;
	font-size: 14px;
	line-height: 14px;
}
.flight-time .time-box span.time {
	display: block;
  color: #000;
  font-weight: 700;
	font-size: 20px;
	position: relative;
}
.flight-time .time-box span.time sup {
	color: #0086c9;
	position: absolute;
	right: -20px;
	top: 14px;
  font-weight: 400;
  font-size: 13px;
}
.flight-time .time-box.flight-img {
	margin: 0 auto;
	text-align: center;
	width: 200px;
}
.flight-time .time-box.flight-img .total-time {
	display: block;
	font-size: 12px;
}
.flight-time .time-box.flight-img .airport {
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	display: inline-block;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	margin: 0 auto;
	position: relative;
	width: 50px;
	z-index: 2;
}
.flight-time .time-box.flight-img .airport-hidden {
	background-color: #ffffff;
	border: 1px dashed #999;
	border-radius: 10px;
	display: inline-block;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	margin: 0 auto;
	position: relative;
	width: 50px;
	z-index: 2;
}
.flight-time .time-box.flight-img .airport.direct {
	visibility: hidden;
}
.flight-time .time-box.flight-img .airport.active,
.flight-time .time-box.flight-img .airport-hidden.active {
	border-color: #0086c9;
}
.flight-time .time-box.flight-img .airport + .airport {
	margin-left: 5px;
}
.flight-time .time-box.flight-img .air-img {
	background-color: #dddddd;
	bottom: 8px;
	display: block;
	height: 2px;
	left: 5px;
	position: absolute;
	width: 190px;
	z-index: 1;
}
.airport-hidden-step {
	border: 1px dashed #999;
	padding: 3px 4px 2px 4px;
	color: #999;
}

/*
.flight-time .time-box.flight-img .air-img:after {
	background: url('../images/common/ico_plane.png') 0 0 no-repeat;
	background: url('../images/common/ico_plane.svg') 0 0 no-repeat, linear-gradient(transparent, transparent);
	background-size: 28px 26px;
	bottom: -10px;
	content: '';
	display: block;
	height: 26px;
	position: absolute;
	right: -25px;
	width: 28px;
}
*/
.list-body {
	margin-right: 1px;
}
.list-body .body-wrap {
	border-top: 1px solid #dddddd;
	box-sizing: border-box;
	padding: 30px;
}
.list-body .result-wrap {
	border-top: 1px solid #dddddd;
	box-sizing: border-box;
	padding: 30px;
}
.list-body .result-wrap .result-line {
	position: relative;
}
.list-body .result-wrap .result-line + .result-line {
	margin-top: 10px;
}

.sort-tab {
	width: 100%;
	margin-bottom: 20px;
}
.sort-tab > ul {
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	background: #e5e5e5;
	overflow: hidden;
}
.sort-tab > ul > li {
	list-style: none;
	float: left;
	margin: 0 1px 0 0;
	width: calc(20% - 1px);
	background: #fff;
	box-sizing: border-box;
	transition: all 0.1s;
}
.sort-tab > ul > li:first-child {	
	border-radius: 4px 0 0 4px;
}
.sort-tab > ul > li:last-child {
	margin-right: 0;
	width: 20%;
	border-radius: 0 4px 4px 0;
}
.sort-tab > ul > li:hover {
	background: #f2fbff;	
	cursor: pointer;
}
.sort-tab > ul > li.active {
	background: #0086c9;
}
.sort-tab > ul > li > span {
	font-size: 13px;
	display: block;
	color: #999;
	margin-left: 20px;
}
.sort-tab > ul > li > span:nth-child(1) {
	margin-top: 12px;
}
.sort-tab > ul > li > span:nth-child(2) {
	margin-bottom: 12px;
	font-size: 15px;
	color: #333;
}
.sort-tab > ul > li.active span {
	color:#fff !important;
}
.filter-wrap .filter-body dd span.lowest-rate {
    color: #999;
    display: block;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 3px;
}
.filter-wrap .filter-body dd span.lowest-rate.active {
  display: none;
}